<div class="container">
  <div class="row">
      <div class="linebreaker-md"></div>
</div>
<div id="errorDiv"></div>
<div class="row" id="search">
  <div class="col-md-6" id="passport-search-form-div">
    <form (ngSubmit)="initiateProfileSearch()" class="form-horizontal um-search-form" #profileSearchForm="ngForm">
    <div  *ngIf="isInvalidPassportSearchParam">
            <div class="col-md-12" style="text-align: center;">
              <div  id="noResultDiv" class="alert alert-success alert-dismissable" style="background-color: white;border-color: red;">
               <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <strong><span class="text-warning text-center" style="font-size: 15px" >Invalid Passport Search Criteria.
                </span> </strong>
              </div>
            </div>
    </div> 
    <div class="form-group up-form-group">
      <label for="Name" class="col-sm-3 control-label">Nationality</label>
      <select class="form-control" id="nationalitySelector" name="nationalitySelector" [(ngModel)] = "nationality"
      #nationalityobj="ngModel" style="width: 180px;">
        <option value="choose_nationality">Choose Nationality</option>
        <option value="India">India</option>
        <option value="United States">United States</option>
      </select>
        
    </div>
    <div class="form-group up-form-group" style="margin-left: 50px">
      <label for="Name" class="col-sm-3 control-label" >Passport No</label>
      <input type="text"  class="form-control"
      id="passportNo" name="passportNo" [(ngModel)] = "passportNo"
      #passportnoobj="ngModel" placeholder="Passport No" style="width: 260px;" />
    </div>
    <div class="linebreaker-md"></div>
    <div class="form-group">
      <button type="button" class="um-search-btn btn btn-primary"  type="submit" 
        >Search</button>
    </div>
  </form>
  </div>
  
  <div id="passport-search-results-outer-div" *ngIf="displayEntryDetails && profileSearchStatus" >
    <div id="passport-search-results-inner-div" >
      <div class="col-md-6" id="process-exit-search-form-div">
      <form (ngSubmit)="markExitTravel()" class="form-horizontal um-search-form" #markExitForm="ngForm">
      <div  *ngIf="isInvalidTravelAttributes">
          <div class="col-md-12" style="text-align: center;">
            <div  id="noResultDiv" class="alert alert-success alert-dismissable" style="background-color: white;border-color: red;">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>              
              <strong><span class="text-warning text-center" style="font-size: 15px" >Invalid Destination Or Flight Code Value.
              </span> </strong>
            </div>
          </div>
      </div> 	 
    <div class="form-group up-form-group">
      <label for="Name" class="col-sm-3 control-label">Destination</label>
      <select class="form-control" id="destinationSelector" name="destinationSelector"
      [(ngModel)] = "travelDestination" #sourceoftravelobj="ngModel" style="width: 150px;" >
        <option value="choose_flight">Choose Source</option>
        <option value="Australia">Australia</option>
        <option value="India">India</option>
        <option value="Qatar">Qatar</option>
        <option value="United State">United States</option>
      </select>	
        
    </div>
    <div class="form-group up-form-group">
      <label for="Flight Code" class="col-sm-3 control-label">Flight Code</label>
      <select class="form-control" id="flightCodeSelector" name="flightCodeSelector" 
      #flightcodeobj="ngModel" [(ngModel)] = "flightCode">
        <option value="choose_flight_code">Choose Flight</option>
        <option value="EK568">EK568</option>
        <option value="KLM777">KLM777</option>
        <option value="AI839">AI839</option>
        <option value="QTR930">QTR930</option>
        <option value="SA819">SA819</option>
        <option value="PAM289">PAM289</option>
        <option value="EI289">EI289</option>
        <option value="YUI098">YUI098</option>
    </select>
    </div>
    <div class="form-group up-form-group">
      <label for="Name" class="col-sm-3 control-label">Time of Exit</label>
      <input type="date" class="form-control" name= "timeOfExit" style="width: 150px;" [(ngModel)] = "timeOfEntry"  
      id="timeOfExit" placeholder="Time of Exit" />
    </div>
    <div class="linebreaker-md"></div>
    <div class="form-group">
      <button type="button" class="um-search-btn btn btn-primary" type="submit"
        >Process Exit</button>
    </div>
    
    
  </form>
  </div>
<div class="row">
    <div class="linebreaker-md"></div>
    <div class="linebreaker-md"></div>
</div>
<div class="row">
  <div class="col-md-4" style="background:#f6f9fa" >
    <h4>
      Passenger Details
    </h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><strong>First Name:</strong></td>
          <td >{{profileSearchStatus.profile.firstname}}</td>
        </tr>
        <tr>
          <td><strong>Middle Name:</strong></td>
          <td >{{profileSearchStatus.profile.middlename}}</td>
        </tr>
        <tr>
          <td><strong>Last Name:</strong></td>
          <td >{{profileSearchStatus.profile.lastname}}</td>
        </tr>
        <tr>
          <td><strong>Gender:</strong></td>
          <td >{{profileSearchStatus.profile.gender}}</td>
        </tr>
        <tr>
          <td><strong>Date Of Birth:</strong></td>
          <td >{{profileSearchStatus.profile.dateofbirth }}</td>
        </tr>
        <tr>
          <td><strong>Nationality:</strong></td>
          <td >{{profileSearchStatus.profile.nationality}}</td>
        </tr>
        <tr>
          <td><strong>Profession:</strong></td>
          <td >{{profileSearchStatus.profile.profession}}</td>
        </tr>
        <tr>
          <td><strong>UDB No:</strong></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4" >
    <h4>
      Passport Details
    </h4>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><strong>Passport No:</strong></td>
          <td >{{profileSearchStatus.profile.passportno}}</td>
        </tr>
        <tr>
          <td><strong>Expiry Date:</strong></td>
          <td >{{profileSearchStatus.profile.passportexpirydate}}</td>
        </tr>
        <tr>
          <td><strong>Nationality:</strong></td>
        	<td >{{profileSearchStatus.profile.nationality}}</td>
        </tr>
        <tr>
          <td><strong>Issue Country:</strong></td>
          <td >{{profileSearchStatus.profile.issuecountry}}</td>
        </tr>
        <tr>
          <td><strong>Issue Gov:</strong></td>
          <td >{{profileSearchStatus.profile.issuegov}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4" style="background:#f6f9fa" >
    <h4>
      Last Travel Details
    </h4>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="profileSearchStatus.travel">
        <tr>
          <td><strong>Travel Date:</strong></td>
          <td >{{profileSearchStatus.travel.traveldate}}</td>
        </tr>
        <tr>
						<td><strong>Travel Type:</strong></td>
						<td >{{profileSearchStatus.travel.traveltype}}</td>
					</tr>
        <tr>
          <td><strong>From Country:</strong></td>
          <td >{{profileSearchStatus.travel.fromcountry}}</td>
        </tr>
        <tr>
          <td><strong>Carrier Type:</strong></td>
        	<td >{{profileSearchStatus.travel.cariertype}}</td>
        </tr>
        <tr>
          <td><strong>Flight No:</strong></td>
          <td >{{profileSearchStatus.travel.flightno}}</td>
        </tr>
        <tr>
          <td><strong>Permit No:</strong></td>
        	<td >{{profileSearchStatus.travel.permitno}}</td>
        </tr>
        <tr>
          <td><strong>Remarks:</strong></td>
          <td >{{profileSearchStatus.travel.remarks}}</td>
        </tr>
      </tbody>
      <tbody *ngIf="!profileSearchStatus.travel">
					<tr></tr>
					<tr></tr>
					<tr></tr>
					<tr>
						<td><strong>First Time Traveller</strong></td>
					</tr>

				</tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-4" >
    <h4>
      Permit Details
    </h4>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="profileSearchStatus.permit">
        <tr>
          <td><strong>Permit No:</strong></td>
          <td >{{profileSearchStatus.permit.permitno}}</td>
        </tr>
        <tr>
          <td><strong>Visa Type:</strong></td>
          <td >{{profileSearchStatus.permit.visatype}}</td>
        </tr>
        <tr>
          <td><strong>Permit Status:</strong></td>
          <td >{{profileSearchStatus.permit.permitstatus}}</td>
        </tr>
        <tr>
          <td><strong>Expiry Date:</strong></td>
          <td >{{profileSearchStatus.permit.expirydate}}</td>
        </tr>
        <tr>
          <td><strong>Establishment:</strong></td>
          <td >{{profileSearchStatus.permit.establishment}}</td>
        </tr>
      </tbody>
      <tbody *ngIf="!profileSearchStatus.permit">
          <tr></tr>
          <tr></tr>
          <tr>
            <td><strong>No Active Permits</strong></td>
          </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4" style="background:#f6f9fa">
    <h4>
      Person Likely BlackList in
    </h4>
    <table class="table">
      <thead>
        <tr>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>{{profileSearchStatus.profile.firstname}} 
                {{profileSearchStatus.profile.middlename}}
                {{profileSearchStatus.profile.lastname}}
                - Person Not Blacklisted</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

</div>

</div>

<div  *ngIf="travelMarked && markExitStatus">
    <div class="linebreaker-lg"></div>
    <div class="linebreaker-lg"></div>
    <div class="col-md-12" style="text-align: center;">
      <div  id="noResultDiv" class="alert alert-success alert-dismissable" style="background-color: white;border-color: green;">
       <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
       <img src="assets/img/success.jpg"  height="60px" style="padding-right: 20px" alt="Smiley face" />
       <strong><span class="text-warning text-center" style="font-size: 15px" >Travel Marked Sucessfully against Permit # {{markExitStatus.permitnumber}}
      </span> </strong>
      </div>
    </div>
  </div>
  
  <div  *ngIf="lastTravelExit && markExitStatus">
    <div class="linebreaker-lg"></div>
    <div class="col-md-12" style="text-align: center;">
      <div  id="noResultDiv" class="alert alert-success alert-dismissable" style="background-color: white;border-color: yellow;">
       <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
       <img src="assets/img/warning.jpg"  height="60px" style="padding-right: 20px" alt="Smiley face" />
        <strong><span class="text-warning text-center" style="font-size: 15px" >Last Travel Marked was Exit
        </span> </strong>
      </div>
    </div>
  </div>   
  
  <div  *ngIf="markExitError">
    <div class="linebreaker-lg"></div>
    <div class="col-md-12" style="text-align: center;">
      <div  id="noResultDiv" class="alert alert-success alert-dismissable" style="background-color: white;border-color: red;">
       <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
       <img src="assets/img/error.jpg"  height="60px" style="padding-right: 20px" alt="Smiley face" />
        <strong><span class="text-warning text-center" style="font-size: 15px" >Error Occured while Marking Travel
        </span> </strong>
      </div>
    </div>
  </div> 
  
  <div  *ngIf="profileSearchError">
      <div class="linebreaker-lg"></div>
      <div class="col-md-12" style="text-align: center;">
        <div  id="noResultDiv" class="alert alert-success alert-dismissable" style="background-color: white;border-color: red;">
         <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
         <img src="assets/img/error.jpg"  height="60px" style="padding-right: 20px" alt="Smiley face" />
          <strong><span class="text-warning text-center" style="font-size: 15px" >Error Occured while Searching Profile
          </span> </strong>
        </div>
      </div>
  </div> 
  
  <div  *ngIf="displayNoProfile && profileSearchStatus">
      <div class="linebreaker-lg"></div>
      <div class="col-md-12" style="text-align: center;">
        <div  id="noResultDiv" class="alert alert-success alert-dismissable" style="background-color: white;border-color: yellow;">
         <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
         <img src="assets/img/warning.jpg"  height="60px" style="padding-right: 20px" alt="Smiley face" />
          <strong><span class="text-warning text-center" style="font-size: 15px" >No Profile Found against the given Nationality/Passsport No combination.
          </span> </strong>
        </div>
      </div>
  </div> 


</div>
</div>