<div class="container">

    <body class="um-login">
        <!-- Top content -->

         
        <div class="top-content">
            <div class="inner-bg">
                <div class="container">
                    <div class="row" style="margin-left: 200px;">
                      <div class="col-md-6 form-box login-box">
                         <div class="form-top">
                           <div class="form-top-left">
                            <div class="logo-holder"></div>
                          </div>
                       
                          <div  *ngIf="isLoginFailed">
                            <div id="noResultDivParent" class="row"  >
                              <div class="col-md-12" style="text-align: center;">
                                <div  id="noResultDiv" class="alert alert-success alert-dismissable" style="background-color: white;border-color: red;">
                                   <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>            
                                    <strong><span class="text-warning text-center" style="font-size: 15px;" >Login Failed,Invalid Username/Password.
                                    </span> </strong>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div  *ngIf="redirectURL && !isLoginFailed">
                            <div id="noResultDivParent" class="row"  >
                              <div class="col-md-12" style="text-align: center;">
                                <div  id="noResultDiv" class="alert alert-success alert-dismissable" style="background-color: white;border-color: red;">
                                   <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>            
                                    <strong><span class="text-warning text-center" style="font-size: 15px;" >Session Expired,Please login.
                                    </span> </strong>
                                </div>
                              </div>
                            </div>
                          </div>

                          </div>
                          <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
                              <div class="form-group">
                                <label for="username">User Name</label>
                                <input type="text" class="form-control" id="username" name= "username"  [(ngModel)] = "username"  
                                #usernameobj="ngModel" minlength="4" required />
                                <div *ngIf="usernameobj.invalid && (usernameobj.dirty || usernameobj.touched)" class="alert alert-danger">
                                   <div *ngIf="usernameobj.errors.required">User Name is required.</div>
                                   <div *ngIf="usernameobj.errors.minlength">Name must be at least 4 characters long.</div>
                                </div>
                              </div>
                          
                              <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password" [(ngModel)] = "password"
                                #passwordobj="ngModel" required />
                                <div *ngIf="passwordobj.invalid && (passwordobj.dirty || passwordobj.touched)" class="alert alert-danger">
                                  <div *ngIf="passwordobj.errors.required">Password is required.</div>
                                  <div *ngIf="passwordobj.errors.minlength">Password must be at least 4 characters long.</div>
                               </div>
                              </div>
                              <div class="linebreaker-md"></div>
                              <button [disabled]="!loginForm.form.valid" type="submit" class="um-search-btn btn btn-primary" style="margin-left: 210px;">Login</button>
                          
                            </form>
                          </div>
                        </div>
              
                    </div>
                </div>
                
            </div>
            </body>
    
</div>