<div class="container">
    <div class="row">
        <div class="linebreaker-md"></div>
  </div>
  <div id="errorDiv"></div>
  <div class="row" id="search">
    <div class="col-md-12" id="passport-search-form-div">
      <form (ngSubmit)="fetchTravelDetails()" class="form-horizontal um-search-form" #travelSearchForm="ngForm">
      <div  *ngIf="isInvalidPassportSearchParam">
              <div class="col-md-12" style="text-align: center;">
                <div  id="noResultDiv" class="alert alert-success alert-dismissable" style="background-color: white;border-color: red;">
                 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                  <strong><span class="text-warning text-center" style="font-size: 15px" >Invalid Passport Search Criteria.
                  </span> </strong>
                </div>
              </div>
      </div> 
      <div class="form-group up-form-group">
        <label for="Name" class="col-sm-6 control-label">Nationality</label>
        <select class="form-control" id="nationalitySelector" name="nationalitySelector" style="width: 350px;"[(ngModel)] = "nationality"
				#nationalityobj="ngModel">
          <option value="0">Choose Nationality</option>
          <option value="India">India</option>
					<option value="United States">United States</option>
        </select>	
          
      </div>
      <div class="form-group up-form-group" style="margin-left: 200px;">
        <label for="Name" class="col-sm-6 control-label" >Passport No</label>
        <input type="text"  class="form-control"
        id="passportNo" name="passportNo" [(ngModel)] = "passportNo"
        #passportnoobj="ngModel" placeholder="Passport No" style="width: 480px"/>
      </div>
      <div class="linebreaker-md"></div>
      <div class="form-group">
        <button type="button" class="um-search-btn btn btn-primary"  type="submit" 
          >Search</button>
      </div>
    </form>
    </div>

    <div class="row">
        <div class="linebreaker-md"></div>
        <div class="linebreaker-md"></div>
    </div>

    <div  *ngIf="noTravelFound">
      <div class="col-md-12" style="text-align: center;">
        <div  id="noResultDiv" class="alert alert-success alert-dismissable" style="background-color: white;border-color: yellow;">
         <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
         <img src="assets/img/warning.jpg"  height="60px" style="padding-right: 20px" alt="Smiley face" />
          <strong><span class="text-warning text-center" style="font-size: 15px" >No Travel marked against this profile.
          </span> </strong>
        </div>
      </div>
    </div> 

    <div  *ngIf="travelResponseError">
      <div class="linebreaker-lg"></div>
      <div class="col-md-12" style="text-align: center;">
        <div  id="noResultDiv" class="alert alert-success alert-dismissable" style="background-color: white;border-color: red;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <img src="assets/img/error.jpg"  height="60px" style="padding-right: 20px" alt="Smiley face" />
          <strong><span class="text-warning text-center" style="font-size: 15px" >Error Occured while Fetching Travel Details
          </span> </strong>
        </div>
      </div>
    </div> 
    <div class="row"  *ngIf="displayTravelDetails" >
        <div class="col-md-12"  >
          <h4>
           Travel Details
          </h4>
          <div class="linebreaker-sm"></div>
          <table class="table table-striped">
            <thead >
              <tr>
                <th>Travel Type</th>
                <th>Permit #</th>
                <th>Source/Destination</th>
                <th>Travel Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let travelDetail of travelHistoryDetails.traveldetails">
                <td>{{travelDetail.traveltype}}</td>
                <td >{{travelDetail.permitno}}</td>
                <td *ngIf="travelDetail.tocountry">{{travelDetail.tocountry}}</td>
                <td *ngIf="travelDetail.fromcountry">{{travelDetail.fromcountry}}</td>
                <td >{{travelDetail.traveldate |date:"fullDate"}}</td>
              </tr>
            </tbody>
          </table>
        </div>

    </div>