
<div id="welcome-messsage-div"  class="container">
  <div class="linebreaker-md"></div>
  <h4>
    <span>Welcome, </span><span >{{userName}}</span>
  </h4>
  <blockquote>
    <p style="font-size: 16px;" ><Strong>Please proceed by choosing any of the above link.</Strong></p>
  </blockquote>
</div>

<div class="container-fluid">
<div class="row">
<div class="col-md-12">
  <div class="carousel slide" id="carousel-176804">
    <ol class="carousel-indicators">
      <li data-slide-to="0" data-target="#carousel-176804">
      </li>
      <li data-slide-to="1" data-target="#carousel-176804" class="active">
      </li>
      <li data-slide-to="2" data-target="#carousel-176804">
      </li>
    </ol>
    <div class="carousel-inner">
      <div class="item">
        <img alt="Carousel Bootstrap First" src="assets/img/carousel-img1.jpg" />
        <div class="carousel-caption">
          <h4>
            
          </h4>
          <p>
            
          </p>
        </div>
      </div>
      <div class="item active">
        <img alt="Carousel Bootstrap Second" src="assets/img/carousel-img2.jpg" />
        <div class="carousel-caption">
          <h4>
            
          </h4>
          <p>
            
          </p>
        </div>
      </div>
      <div class="item">
        <img alt="Carousel Bootstrap Third" src="assets/img/carousel-img3.jpg" />
        <div class="carousel-caption">
          <h4>
            
          </h4>
          <p>
            
          </p>
        </div>
      </div>
    </div> <a class="left carousel-control" href="#carousel-176804" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
     <a class="right carousel-control" href="#carousel-176804" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>
</div>
</div>