<div class="container">
    <div class="linebreaker-lg"></div>
    <div class="linebreaker-lg"></div>
<div class="row">

        <div  *ngIf="isProfileCreatedSucessfully">
              <div class="linebreaker-lg"></div>
              <div class="linebreaker-lg"></div>
              <div class="col-md-12" style="text-align: center;">
                <div  id="noResultDiv" class="alert alert-success alert-dismissable" style="background-color: white;border-color: green;">
                   <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                   <img src="assets/img/success.jpg"  height="60px" style="padding-right: 20px" alt="Smiley face" />
                    <strong><span class="text-warning text-center" style="font-size: 15px" >{{registerStatus.status}}
                    </span> </strong>
                </div>
              </div>
        </div>
        <div  *ngIf="isProfileCreationFailed">
            <div class="col-md-12" style="text-align: center;">
              <div  id="noResultDiv" class="alert alert-success alert-dismissable" style="background-color: white;border-color: red;">
                 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                 <img src="assets/img/error.jpg"  height="60px" style="padding-right: 20px" alt="Smiley face" />
                  <strong><span class="text-warning text-center" style="font-size: 15px" >{{registerStatus.status}}
                  </span> </strong>
              </div>
            </div>
      </div>      
  <div *ngIf="showProfileCreationForm" >
  <div class="col-md-6 form-box" style="margin-left: 50px;">
  <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <div class="form-group">
      <label for="firstname">First Name</label>
      <input type="text" class="form-control" id="firstname" name= "firstname"  [(ngModel)] = "firstName"  
      #firstnameobj="ngModel" minlength="4" required />
      <div *ngIf="firstnameobj.invalid && (firstnameobj.dirty || firstnameobj.touched)" class="alert alert-danger">
         <div *ngIf="firstnameobj.errors.required">First Name is required.</div>
         <div *ngIf="firstnameobj.errors.minlength">First Name must be at least 4 characters long.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="middlename">Middle Name</label>
      <input type="text" class="form-control" id="middlename" name="middlename" [(ngModel)] = "middleName"
      #middlenameobj="ngModel"  />
    </div>

    <div class="form-group">
      <label for="lastname">Last Name</label>
      <input type="text" class="form-control" id="lastname" name="lastname" [(ngModel)] = "lastName"
      #lastnameobj="ngModel" required />
      <div *ngIf="lastnameobj.invalid && (lastnameobj.dirty || lastnameobj.touched)" class="alert alert-danger">
        <div *ngIf="lastnameobj.errors.required">Last Name is required.</div>
     </div>
    </div>

    <div class="form-group">
        <label for="gender">Gender</label>
        <select class="form-control" id="gender" name="gender" [(ngModel)] = "gender" required #genderobj="ngModel">
            <option value="0">--</option>
            <option value="1">Male</option>
            <option value="2">Female</option>
        </select>	
        <div *ngIf="genderobj.invalid && (genderobj.dirty || genderobj.touched)" class="alert alert-danger">
            <div *ngIf="genderobj.errors.required">Gender is required.</div>
         </div>
    </div>

    <div class="form-group">
        <label for="dateofbirth">Date of Birth</label>
        <input type="date" class="form-control" id="dateofbirth" name="dateofbirth" [(ngModel)] = "dateOfBirth" required  #dateofbirthobj="ngModel">
        <div *ngIf="dateofbirthobj.invalid && (dateofbirthobj.dirty || dateofbirthobj.touched)" class="alert alert-danger">
            <div *ngIf="dateofbirthobj.errors.required">Date of Birth is required.</div>
         </div>
    </div>

    <div class="form-group">
        <label for="profession">Profession</label>
        <select class="form-control" id="profession" name="profession" [(ngModel)] = "profession"  required #professionobj="ngModel">
            <option value="0">--</option>
            <option value="1">Doctor</option>
            <option value="2">Engineer</option>
        </select>	
        <div *ngIf="professionobj.invalid && (professionobj.dirty || professionobj.touched)" class="alert alert-danger">
            <div *ngIf="professionobj.errors.required">Profession is required.</div>
         </div>
    </div>

    <div class="form-group">
      <label for="nationality">Nationality</label>
      <select class="form-control" id="nationality" name="nationality" [(ngModel)] = "nationality"  required #nationalityobj="ngModel">
          <option value="0">--</option>
          <option value="India">India</option>
          <option value="United States">United States</option>
      </select>	
      <div *ngIf="nationalityobj.invalid && (nationalityobj.dirty || nationalityobj.touched)" class="alert alert-danger">
          <div *ngIf="nationalityobj.errors.required">Nationality is required.</div>
       </div>
    </div>

    <div class="form-group">
      <label for="passportno">Passport No</label>
      <input type="text" class="form-control" id="passportno" name="passportno" [(ngModel)] = "passportNo"
      #passportnoobj="ngModel" required minlength="6"/>
      <div *ngIf="passportnoobj.invalid && (passportnoobj.dirty || passportnoobj.touched)" class="alert alert-danger">
        <div *ngIf="passportnoobj.errors.required">Passport Number is required.</div>
        <div *ngIf="passportnoobj.errors.minlength">Name must be at least 6 characters long.</div>
     </div>
    </div>

    <div class="form-group">
        <label for="issuecountry">Issue Country</label>
        <select class="form-control" id="issuecountry" name="issuecountry" [(ngModel)] = "issueCountry"  required
        #issuecountryobj="ngModel">
            <option value="0">--</option>
            <option value="India">India</option>
            <option value="United States">United States</option>
        </select>	
        <div *ngIf="issuecountryobj.invalid && (issuecountryobj.dirty || issuecountryobj.touched)" class="alert alert-danger">
            <div *ngIf="issuecountryobj.errors.required">Issue Country is required.</div>
         </div>
     </div>
     <div class="form-group">
        <label for="issuegov">Issue Gov</label>
        <select class="form-control" id="issuegov" name="issuegov" [(ngModel)] = "issueGov"  required #issuegovobj="ngModel">
            <option value="0">--</option>
            <option value="India">India</option>
            <option value="United States">United States</option>
        </select>	
        <div *ngIf="issuegovobj.invalid && (issuegovobj.dirty || issuegovobj.touched)" class="alert alert-danger">
            <div *ngIf="issuegovobj.errors.required">Issue Gov is required.</div>
         </div>
     </div>
     <div class="form-group">
        <label for="passportcreateddate">Passport Created Date</label>
        <input type="date" class="form-control" id="passportcreateddate" name="passportcreateddate" [(ngModel)] = "passportCreatedDate"  
        required #passportcreateddateobj="ngModel">
        <div *ngIf="passportcreateddateobj.invalid && (passportcreateddateobj.dirty || passportcreateddateobj.touched)" class="alert alert-danger">
            <div *ngIf="passportcreateddateobj.errors.required">Passport Created Date is required.</div>
         </div>
     </div>
     <div class="form-group">
        <label for="passportexpirydate">Passport Expiry Date</label>
        <input type="date" class="form-control" id="passportexpirydate" name="passportexpirydate" [(ngModel)] = "passportExpiryDate"  
        required #passportexpirydateobj="ngModel">
        <div *ngIf="passportexpirydateobj.invalid && (passportexpirydateobj.dirty || passportexpirydateobj.touched)" class="alert alert-danger">
            <div *ngIf="passportexpirydateobj.errors.required">Passport Expiry Date is required.</div>
         </div>
     </div>
     <div class="linebreaker-md"></div>
    <button [disabled]="!registerForm.form.valid" type="submit" class="um-search-btn btn btn-primary" style="margin-left: 220px;">Submit</button>

  </form>
</div>     
</div>
</div>
</div>